---
import Layout from "../layouts/Layout.astro";
import Video from "../components/Video.astro";
import Intro from "../components/Intro.astro";
import Vento from "../components/Vento.astro";
import PreFooter from "../components/PreFooter.astro";
import Footer from "../components/Footer.astro";
---

<Layout
	title="Premios Sland 2024 - Celebrando lo mejor del streaming y los creadores de contenido."
	description="Descubre a los mejores creadores de contenido de España y Latinoamérica. ¡vota por tus favoritos! Celebra la innovación y el talento de Twitch, Youtube y más"
>
	<Video />
	<main>
		<Intro />
		<Vento />
		<PreFooter />
	</main>
	<Footer />
</Layout>

<style>

</style>
