---
import HeaderLink from "./HeaderLink.astro";
import Button from "./Button.astro";
---

<header
    id="header-nav"
    class="fixed w-full p-3 my-0 z-50 max-w-[1400px] mx-auto flex justify-around items-center"
>
    <HeaderLink checkActive={false} href="/" class="">
        <img class="w-8" src="./logo.png" />
    </HeaderLink>
    <ul class="flex gap-4 items-center text-xl">
        <HeaderLink href="/info">Info</HeaderLink>
        <HeaderLink href="/archivo">Archivo</HeaderLink>
        <HeaderLink href="/finalistas">Finalistas</HeaderLink>
    </ul>
    <Button class="animate-fade-up z-10" url="#">
        ENTRA EN LA ISLA ESLAND
    </Button>
   
</header>
