<header id="header-nav" class="fixed w-full p-3 my-0 z-50 max-w-[1400px] mx-auto flex  justify-around  items-center">
    
    <nav class="flex gap-4 font-semibold ">
        <img class="w-8" src="./logo.png" />
        <ul class="flex gap-4 items-center text-xl">
            <li class="hover:underline">Info</li>
            <li class="hover:underline">Archivo</li>
            <li class="hover:underline">Finalistas</li>
        </ul>
    </nav>
    <a
    class="flex justify-normal border rounded-full py-3 font-semibold border-white hover:bg-white hover:text-blue-950 duration-300 px-3 "
    href="#"
    >
        ENTRA EN LA ISLA ESLAND
    </a>
</header>