---
import InfoKinPrensaItem from "./InfoKinPrensaItem.astro"
---
<section class="flex flex-col items-center justify-center p-4 overflow-hidden">
    <h2 class=" text-6xl font-bold mb-14 mt-4 uppercase">kit de prensa</h2>
    <div class="flex flex-col gap-16 lg:flex-row lg:gap-8">
        <InfoKinPrensaItem
            title="Logotipo y Trofeo"
            dowload="Descargar"
            image="/image-page/logo-y-trofeo.webp"
            link="https://premiosesland.com/ESLAND_MEDIA_KIT_2022.rar"
         />
         <InfoKinPrensaItem
            title="fondos de pantalla"
            dowload="Descargar"
            image="/image-page/fondos-de-pantalla.webp"
            link="https://premiosesland.com/ESLAND_FONDOS.zip"
         />
         <InfoKinPrensaItem
            title="nota de prensa"
            dowload="Descargar"
            image="/image-page/nota-de-prensa.webp"
            link="https://premiosesland.com/Nota%20Prensa-ESLAND.pdf"
         />
    </div>
</section>